/* Glasses-item */
button.col {
    cursor: pointer;
    border: none;
    appearance: none;
    padding: 1px;
    width: 100px;
    height: 80px;
    margin-right: 10px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.img-glasses {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}