img {
    object-fit: fill;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.model {
    width: 100%;
    height: auto;
    position: relative;
}



.model-img {
    margin: auto;
    display: block;
    width: 300px;
    height: 100%;
    margin-top: 50px;
}


.glassesShow {
    width: 150px;

    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;

}