.glasses {
    width: 70%;
    padding: 50px;
    margin: 50px auto;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}